version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: smart-grocery-db
    environment:
      POSTGRES_DB: smart_grocery
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d smart_grocery"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
